<H1> Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  

- List popular languages for Data Science.  
- Identify commonly used libraries in Data Science.  
- Summarize development environment open-source tools.  
- Perform basic arithmetic operations in Python.  
- Convert time units using Python expressions.

## Data Science Languages

Some of the popular languages that Data Scientists use are:  

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Data Science Libraries  

Some of the commonly used libraries used by Data Scientists include:  

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

## Data Science Tools  

Below is a table listing some open-source development environment tools used in Data Science:  

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author  

Tomas De Calisto